{% extends "layout.html" %}

{% load static %}

{% block title %}
  RareGoods
{% endblock title %}

  <!-- ======= Hero Section ======= -->
  {% comment %} <section id="hero" class="d-flex align-items-center"> {% endcomment %}

    {% block section %}
    <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
              <h1 data-aos="fade-up">Grow your business with Vesperr</h1>
              <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers making websites with Bootstrap</h2>
              <div data-aos="fade-up" data-aos-delay="800">
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
              <img src="{% static "assets/img/raregood/bg.jpg" %}" class="img-fluid animated" alt="">
            </div>
          </div>
        </div>
      </section><!-- End Hero -->
      
    {% endblock section %}

    

  {% comment %} </section><!-- End Hero --> {% endcomment %}

  {% comment %} <main id="main"> {% endcomment %}


    {% block content %}
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients clients">
        <div class="container">

          <div class="row">

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static "assets/img/clients/client-1.png" %}" class="img-fluid" alt="" data-aos="zoom-in">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static "assets/img/clients/client-2.png" %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static "assets/img/clients/client-3.png" %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static "assets/img/clients/client-4.png" %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static "assets/img/clients/client-5.png" %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <img src="{% static "assets/img/clients/client-6.png" %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
            </div>

          </div>

        </div>
      </section><!-- End Clients Section -->

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container mt-5">

          <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
          </div>

          <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <a href="#" class="btn-learn-more">Learn More</a>
            </div>
          </div>

        </div>
      </section><!-- End About Us Section -->

    {% endblock content %}